<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add A Customer</title>
</head>
<body>
<h2 class="customer-info">Enter the new customer's information below:</h2>
<div class="add-a-customer-form">
    <form action="/addcustomers" method="post">
        Customer First Name:<input type="text" name="firstname"/><br/>
        Customer Last Name:<input type="text" name="lastname"/><br/>
        Customer Phone Number:<input type="text" name="phone"/><br/>
        Customer Email:<input type="text" name="email"/><br/>
    </form>
</div>
<div class="submitbutton">
    <button type="button">Submit</button>
</div>

</body>
</html>
